.horario-clases-container {
    padding: 20px;
  }
  
  .horario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .horario-table th, .horario-table td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
  }
  
  .horario-table th {
    background-color: #3e3636;
  }
  
  .horario-table tr:nth-child(even) {
    background-color: #575050;
  }
  