.containerr{
    display: flex;
    height: 100vh;
    
}
.contentt{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.añadir{
    color: white;
    margin-bottom:20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
label{
    font-weight: bold;
    color: #444;
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
input:focus{
    border-color: #007bff ;
}

.button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.button:hover{
    background-color: #0056b3;
}