.container {
    display: flex;
  }
  
  .contenido {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    text-align: center;
    flex-grow: 1; 
    padding: 10px;
  }
  h1{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cardGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*para las columas*/
    gap: 10px ;
    width: 100%;
    justify-items: center;
  }
  /*para pantallas pequeñas*/
  @media(max-width: 768px){
    .cardGrid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media (max-width: 480px){
    .cardGrid {
        grid-template-columns: 1fr;
    }
}
  