.ver-notas-container {
    padding: 20px;
  }
  
  .notas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .notas-table th, .notas-table td {
    padding: 10px;
    border: 1px solid #353232;
    text-align: center;
  }
  
  .notas-table th {
    background-color: #1c1919;
  }
  
  .notas-table tr:nth-child(even) {
    background-color: #141313;
  }
  